.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
  font-size:10px;
  color:#008000;
}
._水平线 {
}
.shape {
}
.connector {
}
.line {
}
.arrow {
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.box_1 {
}
._形状 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.label {
  font-size:14px;
  text-align:left;
}
.text_field {
  color:#000000;
  text-align:left;
}
.horizontal_line {
}
.box_2 {
}
.text_area {
  color:#000000;
  text-align:left;
}
.ellipse {
}
.image {
}
.heading_1 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.placeholder {
}
.text_field1 {
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
  text-align:left;
}
.shape1 {
}
.line1 {
}
.line2 {
}
.image1 {
  color:#000000;
}
.iconfont {
  font-family:'iconfont';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#666666;
}
.paragraph {
  text-align:left;
}
.heading_11 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_21 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.icon {
}
._形状1 {
}
._文本段落1 {
  text-align:left;
}
.box_21 {
}
.box_11 {
}
._图片 {
}
._图片1 {
}
.box_22 {
}
.image2 {
  color:#000000;
}
._形状2 {
}
._形状3 {
}
.icon1 {
}
.box_12 {
}
.box_13 {
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
.shape2 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
